
body {
    background:lightsalmon;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.assignment {
   display:flex;
   padding:10px;
   margin:15px;
    background:lightpink;
}

.assignment img {
    width:300px;
    height:300px;
    margin:15px;
    border:4px solid darkcyan;

}

.assignment img:hover {
    border:4px solid crimson;
}

h2 {
    color:mediumpurple;
    text-align:center;
}

a {
    color:darkcyan;
    text-decoration:none;
}

a:hover{
    color:crimson;
}