
/* Meter */ 
#meter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#meter {
    background-color: cornsilk;
    background: linear-gradient(to top, cornsilk 0%, cornsilk 100%);
    width: 50px; 
    height: 200px; 
    border-radius: 5px; 
    position: relative;
}
   
#counter {
    width: 100%;
    height: 0; 
    background-color: dodgerblue;
    position: absolute;
    bottom: 0; 
    transition: height 1s, background-color 1s;
}

/* Running Man */

#running {
    position: absolute;
    top: 50%;
    left: var(--left-margin, 0);
    transition: left 0.5s ease, content 0.5s ease;
}

#run-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Structure */
#main-header {
    width: 80%;
    padding: 20px 8px;
    margin: auto;
    background-color: rosybrown;
    text-align: center;
}

.assignment {
    width: 90%;
    margin: auto;
    padding: 8px;
    background-color: darkseagreen;
    border: 4px solid black;
}
img {
    margin: auto;
    padding: 10px;
}

/* Typography */

body {
    font-family:Arial, Helvetica, sans-serif
}

/* Larger Resolutions */
@media (min-width: 900px) {
#main-content {
    display: flex;
}

.assignment {
flex: 1;
}

}