/* Structure */ 

header {
    background-color: #5AA9E6;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: solid 2px black;

}
#main-header {
    margin: auto;
    text-align: center;
}

#main-content {
    margin: auto;
}


#tabs a {
    text-decoration: none;
    color: black;
}

#tabs li {
    list-style: none;
    text-align: center;
    border: solid 2px black;
    padding: 5px;
}

#tabs {
    padding: 20px;
    margin: auto;
    padding-left: 0;
}


#content-header {
    width: 90%;
    background-color: #5AA9E6;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: solid 2px black;

}

body {
    background-color: #7494EA;
}

.c1o3 {
    margin: auto;
    padding: 20px;
}

#ucl-trophy {
    border: solid 2px black;
    margin: auto;
}

#winners h4 {
    text-align: center;
}

#winners {
    border: solid 2px black;

}

.winners {
    margin: auto;
    border: solid 2px black;

}


/* Typography */

body {
    font-family:Arial, Helvetica, sans-serif
}

/* Larger Resolutions */
@media (min-width: 900px) { 
    #tabs,
    #main-content {
        display: flex;
    }
    
    #tabs li, 
    .c1o3 {
    flex: 1;
    }
    
    }