/* Structure */ 

header {
    background-color: #5AA9E6;
    width: 90%;
    margin: auto;
    padding: 10px;
    border: solid 2px black;

}
#main-header {
    margin: auto;
    text-align: center;
}

#tabs a {
    text-decoration: none;
    color: black;
}

#tabs li {
    list-style: none;
    text-align: center;
    border: solid 2px black;
    padding: 5px;
}

#tabs {
    padding: 20px;
    margin: auto;
    padding-left: 0;
}

#holder-img {
    display: block;
    align-items: center;
    margin: auto;
    padding: 20px;
}

#content-header {
    width: 90%;
    background-color: #5AA9E6;
    text-align: center;
    margin: auto;
    padding: 10px;
    border: solid 2px black;

}

body {
    background-color: #7494EA;
}

#main-content {
    background-color: #5AA9E6;
    border: solid 2px black;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
}

#main-head {
    text-align: center;
}

.c1o3 {
    text-align: center;
    border: solid 2px black;

}

.img {
    margin: auto;
    padding: 10px;
}


/* Typography */

body {
    font-family:Arial, Helvetica, sans-serif
}

/* Larger Resolutions */
@media (min-width: 900px) {
    #column, 
    #tabs,
    #columns {
        display: flex;
    }
    
    .c1o4, 
    #tabs li,
    .c1o3 {
    flex: 1;
    }
    
    }