/* Structure */

:root {
    --num: 0%;
}

#main-header {
    background-color: lightskyblue;
    margin: auto;
    width: 90%;
    border: solid 3px black;
    text-align: center;
}



body {
    background-color: aquamarine;
}

.container {
    margin: auto 15px;
    padding: 80px 20px;
    background-color: lightskyblue;
    border: solid 3px black;
    text-align: center;
    height: 250px;
    position: relative;
    top: 0px;
}

#rainbow-button {
    margin: auto;
    padding: 10px;
    background-color: darkgray;
    color: black;
    border: solid 3px black;
}

.rainbow-colors {
    width: 500px;
    height: 30px;
    margin: 0px;
}

#gold-img {
    position: relative;
    top: -160px;
    left: 200px;
    height: 150px;
    width: 150px;
}

/* Typography */
body {
    font-family:Arial, Helvetica, sans-serif
}

.hidden {
    display: none;
}

/* Larger Resolution */
@media (min-width: 900px) {

    .flex {
        display: flex;
    }

    .container {
        flex: 1;
        top: 150px;
    }


}