/* Coded by Bradley Zenker */


/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
}

#main-header {
    background-color: black;
    margin-top: -10px;
    color: whitesmoke;
}

#main-nav {
    list-style-type: none;
}

ul, li {
    padding: 10px;
    list-style-type: none;
}

#section1 {
    margin-top: -24px;
}

#section1 img{
    margin-left: auto;
    margin-right: auto;
}

#section1 ul {
    background-color: #73000a;
    margin-bottom: 24px;
}

#section2 {
    background-color: whitesmoke;
    margin-top: -16px;
}

#section2 h1 {
    background-color: #73000a;
    color: whitesmoke;
    width: 85%;
    text-align: center;
    font-size: xx-large;
    padding: 20px;
}

#section2 h2,
#section2 p {
    background-color: darkgray;
    padding: 30px;
    margin: 35px;
}

#section3 {
    background-color: black;
    margin-bottom: 20px;
}

#section3 h2, 
#section3 p {
    color: white;
    margin-left: 50%;
    margin: 20px;
}

#section4 {
    background: #73000a;
    margin-bottom: 15px;
}

#section4 h2,
#section4 p,
#section4 a {
    color:white;
    margin: 20px;
}

#section5 {
    background-color: #ececec;
    margin-bottom: 15px;
}

#section5 h1,
#section5 p,
#section5 a {
    margin-left: 50%;
    margin: 20px;
}

#section5 h1 {
    color:#73000a;
}

#section5 p {
    color: black;
}

#section6 h1 {
    background-color: #73000a;
    color: whitesmoke;
    width: 100%;
    text-align: center;
    font-size: xx-large;
}

#section6 h2{
    color:#73000a;
}

#section7 {
    background-color: #73000a;
}

#section7 h1,
#section7 p,
#section7 a {
    color:white;
    margin-left: 50%;
    margin: 20px;
}

#section7 a,
#section7 a {
    background-color: black;
    text-decoration: none;
    border: 5px solid white; 
    color: white;
    padding: 10px;
}

#section7 a:hover,
#section10 a:hover {
    color:#73000a;
    border: 5px solid #73000a;
    background-color: white;
}

#section8 {
    background-color: #ececec;
}

#section8 h1 {
    color: whitesmoke;
    background-color: black;
    text-align: center;
    margin: 20px;
}

#section8 p {
    color: white;
    background-color: #73000a;
    margin: 20px;
}

#section8 a,
#section9 a,
#section5 a,
#section4 a,
#section11 a {
    background-color: #73000a;
    color:white;
    border: 5px solid white;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
}

#section8 a:hover,
#section9 a:hover,
#section5 a:hover,
#section4 a:hover,
#section11 a:hover {
    border: 5px solid #73000a;
    background-color: white;
    color:#73000a;
}

#section9 {
    background-color: #686157;
}

#section9 h1,
#section9 p {
    color:white;
    margin-left: 50%;
    margin:20px;
}

#section10 {
    background-image: url(images/pic11.gif);
    padding: 150px;
}

#ten {
    background-color: #73000a;
    color: white;
    margin-right: 20%;
    padding: 30px;
}

#section11 {
    background-color: #ececec;
}

#section11 h1, 
#section11 p {
    margin-left: 50%;
    margin:20px;
}

#section11 h1 {
    color:#73000a
}

#section11 p {
    color: black;
}

#section12 {
    background-color: #73000a;
    padding: 30px;
    color:white;
}

#section12 a {
    color: white;
    text-decoration: none;
}

#section12 a:hover {
    background-color: #cc2e40;
}

#section12 ul {
    display: inline-block;
}

footer {
    background-color: black;
    margin-top: -16px;
}

footer a,
footer li {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: small;
}

footer a:hover {
    background-color: #cc2e40;
}

.big {
    font-size: xx-large;
}

.six{
    margin: 10px;
    padding: 40px 20px;
    background: whitesmoke;
}

/* Images */

#section3 img,
#section5 img,
#section9 img,
#section11 img {
    display: block;
    margin-right: 50%;
}

#main-header img,
#section12 img {
    display: block;
    height:55px;
}

#section1 img {
    margin-top: -24px;
    margin-bottom: -10px;
}

#section8 img {
    display: block;
    margin-left: 0%;
    padding: 35px;
}

#section4 img {
    display: block;
    margin-left: 0%;
}

/* Typography */

#main-header h2 {
    font-size: small;
    text-align: left;
}
#main-nav a,
#section1 a,
#section5 a,
#section10 a {
    text-decoration: none;
    color: whitesmoke;
}
#main-nav a:hover {
    background: #1E404D;
}
#section1 a:hover {
    background-color: #1E404D;
}

/* Larger Resolutions */

@media only screen and (min-width: 768px) {
    #main-nav ul,
    #section1 ul,
    #section3,
    #section4,
    #section5,
    #section7,
    #section8,
    #section9,
    #section11,
    .flex-con {
        display: flex;
    }

    .flex {
        display: 1;
    }

    #section1 ul,
    #main-nav ul {
        justify-content: center;
    }

}